<%= form_for(@param) do |f| %>
  <% if @param.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@param.errors.count, "error") %> prohibited this param from being saved:</h2>

      <ul>
      <% @param.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :refresh_token %><br />
    <%= f.text_field :refresh_token %>
  </div>
  <div class="field">
    <%= f.label :expires_in %><br />
    <%= f.number_field :expires_in %>
  </div>
  <div class="field">
    <%= f.label :issued_at %><br />
    <%= f.date_select :issued_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
